/* Global Styles */

/* 
Colors I am using 
  Blue = #295A7c
*/

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #295a7c, #7fb0d3);
}
